* {
  background:                     #181616;
  background-dim:                 #181616D9;
  foreground:                     #c5c9c5;
  selected-normal-background:     #2a3a3e;
  selected-normal-foreground:     #b8c8d0;
  selected-active-background:     #2a2a3e;
  selected-active-foreground:     #b8b8c8;
  selected-urgent-background:     #3a1a1a;
  selected-urgent-foreground:     #e8b8b8;
  active-background:              #8ba4b0;
  active-foreground:              #0d0c0c;
  urgent-background:              #E82424;
  urgent-foreground:              #c5c9c5;
}
