/**
 * @name system24 (kanagawa dragon)
 * @description tui-style discord theme (system24) with kanagawa dragon colors
 * @author refact0r (base theme), kanagawa dragon color overrides
 * @version 1.0.0
 * @source https://github.com/refact0r/system24
 */

@import url('https://refact0r.github.io/system24/build/system24.css');

body {
    --font: 'JetBrainsMono Nerd Font';
    --code-font: 'JetBrainsMono Nerd Font';
    --gap: 12px;
    --divider-thickness: 4px;
    --border-thickness: 2px;
    --border-hover-transition: 0.2s ease;
    --animations: on;
    --list-item-transition: 0.2s ease;
    --dms-icon-svg-transition: 0.4s ease;
    --top-bar-height: var(--gap);
    --top-bar-button-position: titlebar;
    --top-bar-title-position: off;
    --subtle-top-bar-title: off;
    --custom-window-controls: off;
    --window-control-size: 14px;
    --custom-dms-icon: off;
    --custom-dms-background: off;
    --background-image: off;
    --transparency-tweaks: off;
    --remove-bg-layer: off;
    --panel-blur: off;
    --blur-amount: 12px;
    --small-user-panel: on;
    --unrounding: on;
    --custom-spotify-bar: on;
    --ascii-titles: on;
    --ascii-loader: system24;
    --panel-labels: on;
    --label-color: var(--text-muted);
    --label-font-weight: 500;
}

:root {
    --colors: on;
    --text-0: #181616;
    --text-1: #c5c9c5;
    --text-2: #c5c9c5;
    --text-3: #C8C093;
    --text-4: #625e5a;
    --text-5: #282727;
    --bg-1: #393836;
    --bg-2: #282727;
    --bg-3: #1D1C19;
    --bg-4: #181616;
    --hover: #282727;
    --active: #393836;
    --active-2: #393836;
    --message-hover: #1D1C19;
    --accent-1: #8ba4b0;
    --accent-2: #8ba4b0;
    --accent-3: #2a3a3e;
    --accent-4: #8ba4b0;
    --accent-5: #8ba4b0;
    --accent-new: #E82424;
    --online: #8ea4a2;
    --dnd: #E82424;
    --idle: #8992a7;
    --streaming: #8ba4b0;
    --offline: #625e5a;
    --border-light: #282727;
    --border: #282727;
    --border-hover: #8ba4b0;
    --button-border: #282727;
    --red-1: #E82424;
    --red-2: #E82424;
    --red-3: #E82424;
    --red-4: #E82424;
    --red-5: #E82424;
    --green-1: #8ea4a2;
    --green-2: #8ea4a2;
    --green-3: #8ea4a2;
    --green-4: #8ea4a2;
    --green-5: #8ea4a2;
    --blue-1: #8992a7;
    --blue-2: #8992a7;
    --blue-3: #8992a7;
    --blue-4: #8992a7;
    --blue-5: #8992a7;
    --yellow-1: #8992a7;
    --yellow-2: #8992a7;
    --yellow-3: #8992a7;
    --yellow-4: #8992a7;
    --yellow-5: #8992a7;
    --purple-1: #8ba4b0;
    --purple-2: #8ba4b0;
    --purple-3: #8ba4b0;
    --purple-4: #8ba4b0;
    --purple-5: #8ba4b0;
}
