@import "../waybar/colors.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 11px;
  font-weight: 700;
  border: none;
  border-radius: 0px;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: transparent;
}

#waybar > box {
  margin: 0;
  padding: 0;
  min-height: 18px;
  background-color: @bg;
  border: none;
}

.modules-left,
.modules-right,
.modules-center {
  padding: 0;
}

#workspaces {
  background-color: alpha(@fg, 0.05);
  padding: 0;
  margin: 0;
}

#workspaces button {
  padding: 0 1px;
  margin: 0;
  min-height: 12px;
  color: @fg;
  opacity: 0.6;
  border: none;
  border-radius: 0;
  transition: 0.15s ease-in-out;
}

#workspaces button.active {
  opacity: 1;
  color: @bg;
  background: alpha(@red, 1);
}

#workspaces button.empty {
  color: alpha(@fg, 0.25);
  opacity: 1;
}

#workspaces button.active.empty {
  color: @bg;
  opacity: 1;
}

#workspaces button:hover {
  opacity: 1;
  color: @red;
  background: alpha(@red, 0.12);
}

#tray,
#clock {
  color: @fg;
  opacity: 1;
  padding: 0;
  margin: 0;
}

#tray {
  margin: 0;
}
