/* ───────────────────────────────────────────────────────────────────
   「✦ ROFI CONFIG ✦ 」
   ──────────────────────────────────────────────────────────────── */
/* ── CONFIGURATION ────────────────────────────────────────────────*/
configuration {
    modi: "drun";
    show-icons: true;
    sidebar-mode: false;
    display-drun: "";
}
/* ── THEME ────────────────────────────────────────────────────────*/
@theme "~/.config/rofi/themes/glass.rasi"
