* {
  background:                     {{colors.surface.default.hex}};
  background-dim:                 {{colors.surface.default.hex}}D9;
  foreground:                     {{colors.on_surface.default.hex}};
  selected-normal-background:     {{colors.primary_container.default.hex}};
  selected-normal-foreground:     {{colors.on_primary_container.default.hex}};
  selected-active-background:     {{colors.secondary_container.default.hex}};
  selected-active-foreground:     {{colors.on_secondary_container.default.hex}};
  selected-urgent-background:     {{colors.error_container.default.hex}};
  selected-urgent-foreground:     {{colors.on_error_container.default.hex}};
  active-background:              {{colors.primary.default.hex}};
  active-foreground:              {{colors.on_primary.default.hex}};
  urgent-background:              {{colors.error.default.hex}};
  urgent-foreground:              {{colors.on_error.default.hex}};
}
