active-color "#000000" // matugen:active-color

cursor {
    xcursor-theme "rose-pine-cursor"
    xcursor-size 24
}

spawn-at-startup "waybar"
spawn-at-startup "skwd-daemon"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "ollama" "serve"
spawn-at-startup "Xwayland" ":0"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
