input {
    xcursor-theme {
        name "rose-pine-cursor"
        size 24
    }
    keyboard {
        xkb {}
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {}
    trackpoint {}
}
